.city-button {
    margin: 10px;
    cursor: pointer;
  }
  
  .city-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  .navbar-text {
    padding: 10px; 
  }
  
  .welcome-text {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
    text-transform: capitalize; 
    border-bottom: 2px solid #ddd; 
    padding-bottom: 5px; 
  }